.home__image{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.03));
}


.FethedProduct{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.FethedProduct .singleImage{
      padding: 30px;
      z-index: 1;  /*  above background image display endehone*/  
}

.horizontalScrollAllow{
    /* overflow-y: hidden; */
    overflow-x: scroll;
}

/* .horizontalScrollHide{

} */

.horizontalScrollAllow::-webkit-scrollbar{
    display: none;
}



@media(max-width:440px){
 
   .home__image{
    width: 100%;
    height: 200px;
    object-fit: cover;
   }
.singleImage{
  width: 100%;
  margin-left: -40px;
}

}