.editproductsPage{
    display: flex;
    background-color: whitesmoke;
    padding-bottom: 30px;
}

 .editproductsPage_publish{
    display: flex;

}

.editproductsPage_edit{
    margin: 80px 0 0 80px;
}

.editproductsPage .edit_Product{
    margin-top: 40px;
    text-align: center;
}

.editproductsPage_publish .button2{
    position: absolute;
    right: 60px;
    width: 150px;
    height: 40px;
    background-color: green;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
.fileInput{
    margin-top: -20px;
}



.addImage{
    margin-left: 310px;
    margin-top: 10px;
}




.editproductsPage_publish .button1{
width: 150px;
height: 40px;
background-color: red;
border: none;
cursor: pointer;
color: white;
border-radius: 5px;
}

.editproductsPage_publish .h1{
  margin-left: 500px;
}

.edit_Product{
    width: 1000px;
  border: 1.9px solid rgba(0, 0, 0, .09);
    background-color: white;
    padding: 20px;
}

.edit_Product input {
    padding: 12px;
    width: 500px;
    margin-top: 8PX;
    border-radius: 5px;
    border: 1.99px solid rgba(0, 0, 0, .3);
}
.fileInput input {
    border: none;
}
#title, #image, #price{
margin-bottom: 20px;
}

.image{
    margin-top: -20px;
}
.edit_Product .edit_Product_button{
    width: 150px;
    height: 40px;
    background-color: green;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;

}