    .dashboard{
        display: flex;
    }
    .dashboard_mainpart{
    background-color: whitesmoke;
    margin-left: 50px;
    width: 80%;
}
.dashboard_mainpart .h1{
    padding-left: 70px;
    margin-bottom: 30px;
    font-weight: 500;
    margin-top: 40px;
}
.dashboard_mainpart_detail{
    display: flex;
    justify-content: space-evenly;
    
}
.dashboard_mainpart_detail_detail .amount
{
 padding-top: 4px; 
}

.dashboard_mainpart_detail_detail{
    padding: 20px;
    cursor: pointer;
    width: 150px;
    display: flex;
    background-color: white;
    /* padding-left: 30px; */
    border-radius: 8px;
}
.dashboard_mainpart_detail_detail{
    
    padding-right: 90px;
}