
.getproduct{
    display: flex;

    background-color: whitesmoke;
    
}
.getproduct_product_detail{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.totalProducts{
    margin-left: 70px;
   margin-top: -70px;

}
.getproduct_product_detail h1 {
    font-weight: 500;
}

.getproduct_FethedProduct{
         display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.getproduct_FethedProduct .singleImage{
      padding: 30px;
      z-index: 1;  /*  above background image display endehone*/  
}

.horizontalScrollAllow{
    /* overflow-y: hidden; */
    overflow-x: scroll;
}

.getproduct_product_detail button{
    margin-bottom: 200px;
    width: 150px;
    height: 40px;
    background-color: green;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 50px;
}


