       /* .sidebar{
              display: flex;
              flex-direction: column;
       } */
       .sidebar_part{
        width: 200px;
        display: flex;
        text-decoration: none;
        padding-top: 30px;
        margin-left: -30px;
        list-style: none;
        color: black;
       }
     
       .sidebar_part li:hover{
        background-color: whitesmoke;
       }
        .sidebar_part li{
              padding-left: 6px;
        }