.orders{
    padding: 20px 80px;
    background-color: whitesmoke;
}

.orders > h1{
    margin: 30px 0;
    font-weight: 600 !important;
}

 @media(max-width:500px) {

     .orders{
         padding: 0px;
         
     } 
 }